/* ========== FONTS ========== */
@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700&family=Fira+Sans+Extra+Condensed:wght@300&display=swap");
@font-face {
  font-family: Handjet;
  font-display: swap;
  src: url("../fonts/Handjet/Handjet[EGRD,ESHP,wght].woff2") format("woff2");
  font-style: normal;
}

/* ========== VARIABLES ========== */
/* ========== ========== */
html, body {
  height: 100%;
  min-width: 360px;
  color: #271E1D;
}

body.lock {
  overflow: hidden;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

.page {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  background-color: #FFF7F6;
}

.page.lock {
  padding-right: 17px;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

[class*="__container"] {
  max-width: 1340px;
  padding: 0 20px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

/* ========== HEADER ========== */
.header {
  position: relative;
  margin-top: 30px;
  min-height: 90px;
  background-color: #FFF7F6;
  z-index: 5;
}

.header::before, .header::after {
  content: "";
  position: absolute;
  width: 100vw;
  height: 1px;
  background-color: #E7C9C8;
}

.header::before {
  top: 0;
}

.header::after {
  bottom: 0;
}

.header.fixed {
  position: fixed;
  margin-top: 0;
  top: 0;
  left: 0;
  width: 100%;
}

.header.fixed::before {
  display: none;
}

.header__container {
  min-height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.burger {
  position: relative;
}

.burger::before, .burger::after {
  content: "";
  position: absolute;
  height: 120px;
  width: 1px;
  background-color: #E7C9C8;
  top: -65px;
}

.burger::before {
  left: 0;
}

.burger::after {
  right: 0;
}

.burger__inner {
  margin: 0 80px;
  cursor: pointer;
  z-index: 9999;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  width: 40.5px;
  height: 20px;
}

.burger__inner span {
  position: absolute;
  top: 9px;
  width: inherit;
  height: 2px;
  background-color: #271E1D;
}

.burger__inner::before, .burger__inner::after {
  content: "";
  position: absolute;
  width: inherit;
  height: 2px;
  background-color: #271E1D;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.burger__inner::before {
  top: 0;
}

.burger__inner::after {
  bottom: 0;
}

.burger__inner.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.burger__inner.active::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #A88A86;
  height: 1px;
}

.burger__inner.active::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #A88A86;
  height: 1px;
}

.header__menu {
  position: fixed;
  top: 0;
  left: -100%;
  background: #271E1D;
  border-radius: 0 180px 0 0;
  height: 100%;
  min-height: 400px;
  overflow: auto;
  padding: 263px 141px 116px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 1px -1px 1px #271E1D;
          box-shadow: 1px -1px 1px #271E1D;
  z-index: 4;
}

.header__menu::before {
  content: "";
  position: fixed;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 548.25px;
  height: 200px;
  top: 0;
  left: -100%;
  border-radius: inherit;
  background-color: #271E1D;
  -webkit-box-shadow: -10px 7px 5px #271E1D;
          box-shadow: -10px 7px 5px #271E1D;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__menu.active::before {
  left: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__menu.active {
  left: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__menu::-webkit-scrollbar {
  width: 0;
}

.header__menu::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
}

.header__menu::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(100, 100, 100, 0);
}

.header__menu::-webkit-scrollbar-thumb:hover {
  background: #646464;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}

.item-menu__link {
  font-family: "Almarai";
  font-weight: 300;
  font-size: 50px;
  line-height: 1.12;
  color: #FFEEEE;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.item-menu__link:hover {
  color: #2CF470;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu__logo {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 360px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.overlay.active {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 2;
}

.header__contact {
  position: relative;
  font-family: "Almarai";
  font-weight: 400;
  font-size: 17px;
  line-height: 1.1;
  padding: 0 35px;
}

.header__contact::before, .header__contact::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 120px;
  background-color: #E7C9C8;
  top: -65px;
}

.header__contact::before {
  left: 0;
}

.header__contact::after {
  right: 0;
}

@media (min-width: 1921px) {
  .header__container {
    max-width: none;
    margin: 0 310px;
  }
}

@media (max-width: 1420px) {
  .header__menu {
    padding: 159px 93px 116px;
    border-radius: 0 150px 0 0;
  }
  .header__menu::before {
    width: 452.25px;
    height: 150px;
  }
}

@media (max-width: 1001px) {
  .burger__inner {
    margin: 0 68px;
  }
}

@media (max-width: 700px) {
  .burger__inner {
    margin: 0 60px;
  }
  .header__logo {
    display: none;
  }
  .header__contact {
    font-size: 20px;
    padding: 0 100px;
  }
  .header__contact::before {
    display: none;
  }
}

@media (max-width: 552px) {
  .header {
    min-height: 70px;
    margin-top: 20px;
  }
  .burger::after, .burger::before {
    height: 110px;
  }
  .burger__inner {
    margin: 0 30px;
    width: 30px;
  }
  .header__contact {
    font-size: 20px;
    padding: 0 100px;
  }
  .header__contact::after {
    height: 110px;
  }
  .header__menu {
    padding: 159px 58px 96px;
    border-radius: 0 125px 0 0;
  }
  .header__menu::before {
    width: 249px;
  }
  .menu__list {
    gap: 30px;
  }
  .item-menu__link {
    font-size: 25px;
  }
  .menu__logo {
    display: block;
    position: fixed;
    left: -100%;
    bottom: 0;
    padding: 15px 84px 50px 58px;
    background-color: #271E1D;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .menu__logo.active {
    left: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}

@media (max-width: 482px) {
  .header__contact {
    padding: 0 30px;
  }
}

@media (max-width: 360px) {
  .header::before, .header::after {
    width: 100%;
  }
}

/* ========== MAIN ========== */
.main {
  position: relative;
}

.border__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.left__borders::before, .left__borders::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: #E7C9C8;
}

.left__borders::after {
  margin-left: 199.5px;
}

.right__border::before, .right__border::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: #E7C9C8;
}

.right__border::before {
  width: 0;
}

.right__border::after {
  margin-left: -1px;
}

.main__button__container {
  padding: 0 45px;
}

.main__button {
  position: fixed;
  top: 45%;
}

.button {
  width: 145px;
  height: 145px;
  border-radius: 50%;
  border: 2px solid #271E1D;
  color: #FFEEEE;
  background-color: #271E1D;
  cursor: pointer;
  font-family: "Almarai";
  font-weight: 400;
  font-size: 17px;
  line-height: 1.5;
}

.button:hover {
  background-color: #271e1d00;
  color: #271E1D;
}

.main__intro {
  margin-bottom: 500px;
}

.intro__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translate(220px, 0);
          transform: translate(220px, 0);
}

.intro__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 43%;
          flex: 0 1 43%;
  padding-top: 70px;
}

.intro__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 20px;
}

.intro-title {
  font-family: 'Handjet';
  font-weight: 700;
  font-size: 100px;
  line-height: 0.9;
  margin-bottom: 65px;
}

.intro-title__year {
  font-size: 140px;
  line-height: 0.8;
}

.intro-title__year span {
  color: #2CF470;
}

.intro__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Almarai';
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
}

.intro__text a {
  color: #EC9E9A;
}

.intro__text a:hover {
  text-decoration: underline;
}

.text-1 {
  position: relative;
  max-width: 320px;
  margin-left: auto;
  margin-bottom: 15px;
}

.text-1::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 40px;
  background-color: #EC9E9A;
  top: 0;
  left: -40px;
}

.text-1__title {
  font-family: 'Almarai';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-transform: uppercase;
}

.text-2 {
  margin: 45px 0 90px 23.5%;
  max-width: 170px;
}

.text-2__link {
  font-size: 17px;
  margin-top: 10px;
}

.content-intro__switches {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  height: 42px;
  margin-right: 50px;
  gap: 20px;
}

.content-intro__switches svg {
  cursor: pointer;
  z-index: 3;
}

.content-intro__switches svg:hover path {
  stroke: #A88A86;
}

.content-intro__switches::before {
  content: "";
  position: absolute;
  left: 20px;
  width: 20px;
  height: 40px;
  background-color: #2CF470;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.intro-switches__previous {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.intro__border {
  height: 1px;
  width: 93%;
  margin: 0 auto;
  background-color: #E7C9C8;
}

.intro__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 57%;
          flex: 0 1 57%;
}

.image-intro__photo {
  position: relative;
  max-width: 750px;
}

.image-intro__photo::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 300px;
  bottom: 0;
  left: 0;
  border-radius: 0px 0px 0px 100px;
  -webkit-transform: translate(-47%, 17%);
          transform: translate(-47%, 17%);
  background: url(../images/intro/decor.png);
}

.image-intro__photo img {
  border-radius: 0px 0px 375px 0px;
}

.image__button {
  display: none;
}

@media (min-width: 1921px) {
  .main__button__container, .border__container {
    max-width: none;
    margin: 0 310px;
  }
}

@media (max-width: 1340px) {
  .left__borders::after {
    display: none;
  }
  .main__button__container {
    display: none;
  }
  .intro__container {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .intro__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 52.5%;
            flex: 0 1 52.5%;
    padding-top: 50px;
  }
  .intro__title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
  }
  .intro-title {
    font-size: 80px;
    line-height: 0.9;
    margin-bottom: 15px;
  }
  .intro-title__year {
    font-size: 100px;
    line-height: 0.85;
  }
  .intro__text {
    font-size: 20px;
    line-height: 1.5;
  }
  .intro__text a {
    color: #EC9E9A;
  }
  .intro__text a:hover {
    text-decoration: underline;
  }
  .text-1 {
    position: relative;
    max-width: 440px;
    margin-left: 40px;
    margin-bottom: 15px;
  }
  .text-1::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 40px;
    background-color: #EC9E9A;
    top: 0;
    left: -40px;
  }
  .text-2 {
    margin: 45px 0 70px 40%;
    max-width: 170px;
  }
  .content-intro__switches {
    margin-right: -20px;
  }
  .content-intro__switches::before {
    content: "";
    position: absolute;
    left: 60px;
    width: 20px;
    height: 40px;
    background-color: #2CF470;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .intro__border {
    width: 100%;
  }
  .intro__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 47.5%;
            flex: 0 1 47.5%;
  }
  .image-intro__photo {
    margin-right: -40px;
  }
  .image-intro__photo::after {
    width: 100%;
    min-width: 140px;
    height: 210px;
    left: 35%;
    background: url(../images/intro/decor_2.png) no-repeat;
  }
  .image-intro__photo img {
    width: 100%;
    min-width: 520px;
    border-radius: 0px 0px 259.5px 0px;
  }
  .image__button {
    display: block;
    position: absolute;
    bottom: 0;
    left: 35%;
    -webkit-transform: translate(0, 45%);
            transform: translate(0, 45%);
    z-index: 2;
  }
}

@media (max-width: 1001px) {
  .image-intro__photo::after {
    height: 210px;
  }
  .image-intro__photo img {
    height: 550px;
  }
}

@media (max-width: 966px) {
  .intro__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 65%;
            flex: 0 1 65%;
    z-index: 2;
  }
  .intro__border {
    width: 75%;
    margin: 0;
  }
  .text-2 {
    margin: 45px 0 40px 25%;
  }
  .content-intro__switches {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .content-intro__switches::before {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  .intro__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 35%;
            flex: 0 1 35%;
  }
  .image-intro__photo {
    position: absolute;
    margin-right: 0;
    right: -145px;
  }
}
/*# sourceMappingURL=styles.css.map */