/* ========== FONTS ========== */
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700&family=Fira+Sans+Extra+Condensed:wght@300&display=swap');
// font-family: "Almarai";
// font-family: "Fira Sans Extra Condensed";
@font-face {
    font-family: Handjet;
    font-display: swap;
    src: url("../fonts/Handjet/Handjet[EGRD\,ESHP\,wght].woff2") format("woff2");
    font-style: normal;
}

/* ========== VARIABLES ========== */
$header__margin-top: 30px;

/* ========== ========== */
html, body {
    height: 100%;
    min-width: 360px;
    color: #271E1D;
}
body.lock {
    overflow: hidden;
}

*,*::before,*::after {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.page {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #FFF7F6;

    &.lock {
        padding-right: 17px;
    }
}

main {
    flex: 1 1 auto;
}

[class*="__container"] {
    max-width: 1340px;
    padding: 0 20px;
    margin: 0 auto;
}

ul {
    list-style: none;
}

/* ========== HEADER ========== */
.header {
    position: relative;
    margin-top: $header__margin-top;
    min-height: 90px;
    background-color: #FFF7F6;
    z-index: 5;

    &::before, &::after {
        content: "";
        position: absolute;
        width: 100vw;
        height: 1px;
        background-color: #E7C9C8;
    }
    &::before {
        top: 0;
    }
    &::after {
        bottom: 0;
    }
    
    &.fixed {
        position: fixed;
        margin-top: 0;
        top: 0;
        left: 0;
        width: 100%;
    }
    &.fixed::before {
        display: none;
    }
}
.header__container {
    min-height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__burger {}
.burger {
    position: relative;

    &::before, &::after {
        content: "";
        position: absolute;
        height: 90px + $header__margin-top;
        width: 1px;
        background-color: #E7C9C8;
        top: -65px;
    }
    &::before {
        left: 0;
    }
    &::after {
        right: 0;
    }
}
.burger__inner {
    margin: 0 80px;
    cursor: pointer;
    z-index: 9999;
    transition: 0.3s;
    position: relative;
    width: 40.5px;
    height: 20px;

    span {
        position: absolute;
        top: 9px;
        width: inherit;
        height: 2px;
        background-color: #271E1D;
    }

    &::before, &::after {
        content: "";
        position: absolute;
        width: inherit;
        height: 2px;
        background-color: #271E1D;
        transition: 0.3s;
    }
    &::before {
        top: 0;
    }
    &::after {
        bottom: 0;
    }
    &.active span {
        transform: scale(0);
        transition: 0.3s;
    }
    &.active::before {
        transform: rotate(-45deg);
        top: 10px;
        transition: 0.3s;
        background-color: #A88A86;
        height: 1px;
    }
    &.active::after {
        transform: rotate(45deg);
        bottom: 10px;
        transition: 0.3s;
        background-color: #A88A86;
        height: 1px;
    }
}

.header__menu {
    position: fixed;
    top: 0;
    left: -100%;
    background: #271E1D;
    border-radius: 0 180px 0 0;
    height: 100%;
    min-height: 400px;
    overflow: auto;
    padding: 263px 141px 116px;
    transition: 0.3s;
    box-shadow: 1px -1px 1px #271E1D;
    z-index: 4;

    &::before {
        content: "";
        position: fixed;
        user-select: none;
        width: 548.25px;
        height: 200px;
        top: 0;
        left: -100%;
        border-radius: inherit;
        background-color: #271E1D;
        box-shadow: -10px 7px 5px #271E1D;
        transition: 0.3s;
    }
    &.active::before {
        left: 0;
        transition: 0.3s;
    }

    &.active {
        left: 0;
        transition: 0.3s;
    }

    &::-webkit-scrollbar {
        width: 0;
    }
    &::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 0);
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background: rgba(100, 100, 100, 0);
    }
    &::-webkit-scrollbar-thumb:hover {
        background: rgba(100, 100, 100, 1);
    }
}
.menu {}
.menu__list {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.menu__item {}
.item-menu {}
.item-menu__link {
    font-family: "Almarai";
    font-weight: 300;
    font-size: 50px;
    line-height: 1.12;
    color: #FFEEEE;
    transition: 0.3s;

    &:hover {
        color: #2CF470;
        transition: 0.3s;
    }
}
.menu__logo {
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 360px;
    width: 100%;
    height: 100%;
    z-index: -1;    

    &.active {
        backdrop-filter: blur(10px);
        z-index: 2;
    }
}

.header__logo {}

.header__contact {
    position: relative;
    font-family: "Almarai";
    font-weight: 400;
    font-size: 17px;
    line-height: 1.1;
    padding: 0 35px;

    &::before, &::after {
        content: "";
        position: absolute;
        width: 1px;
        height: 90px + $header__margin-top;
        background-color: #E7C9C8;
        top: -65px;
    }
    &::before {
        left: 0;
    }
    &::after {
        right: 0;
    }
}

@media (min-width: 1921px) {
    .header__container {
        max-width: none;
        margin: 0 310px;
    }
}
@media (max-width: 1420px) {
    .header__menu {
        padding: 159px 93px 116px;
        border-radius: 0 150px 0 0;

        &::before {
            width: 452.25px;
            height: 150px;
        }
    }
}
@media (max-width: 1001px) {
    .burger__inner {
        margin: 0 68px;
    }
}
@media (max-width: 700px) {
    .burger__inner {
        margin: 0 60px;
    }
    .header__logo {
        display: none;
    }
    .header__contact {
        font-size: 20px;
        padding: 0 100px;

        &::before {
            display: none;
        }
    }
}
@media (max-width: 552px) {
    .header {
        min-height: 70px;
        margin-top: 20px;
    }
    .burger {
        &::after, &::before {
            height: 110px;
        }
    }
    .burger__inner {
        margin: 0 30px;
        width: 30px;
    }
    .header__contact {
        font-size: 20px;
        padding: 0 100px;

        &::after {
            height: 110px;
        }
    }
    .header__menu {
        padding: 159px 58px 96px;
        border-radius: 0 125px 0 0;

        &::before {
            width: 249px;
        }
    }
    .menu__list {
        gap: 30px;
    }
    .item-menu__link {
        font-size: 25px;
    }
    .menu__logo {
        display: block;
        position: fixed;
        left: -100%;
        bottom: 0;
        padding: 15px 84px 50px 58px;
        background-color: #271E1D;
        transition: 0.3s;
    
        &.active {
            left: 0;
            transition: 0.3s;
        }
    }
}
@media (max-width: 482px) {
    .header__contact {
        padding: 0 30px;
    }
}
@media (max-width: 360px) {
    .header {
        &::before, &::after {
            width: 100%;
        }
    }
}

/* ========== MAIN ========== */
.main {
    position: relative;
}

.border__container {
    display: flex;
    justify-content: space-between;
}
.left__borders {
    &::before, &::after {
        content: "";
        position: absolute;
        width: 1px;
        height: 100%;
        background-color: #E7C9C8;
    }
    &::after {
        margin-left: 199.5px;
    }
}
.right__border {
    &::before, &::after {
        content: "";
        position: absolute;
        width: 1px;
        height: 100%;
        background-color: #E7C9C8;
    }
    &::before {
        width: 0;
    }
    &::after {
        margin-left: -1px;
    }
}

.main__button__container {
    padding: 0 45px;
}
.main__button {
    position: fixed;
    top: 45%;
}
.button {
    width: 145px;
    height: 145px;
    border-radius: 50%;
    border: 2px solid #271E1D;
    color: #FFEEEE;
    background-color: #271E1D;
    cursor: pointer;
    font-family: "Almarai";
    font-weight: 400;
    font-size: 17px;
    line-height: 1.5;

    &:hover {
        background-color: #271e1d00;
        color: #271E1D;
    }
}

.main__intro {
    margin-bottom: 500px;
}
.intro {}
.intro__container {
    display: flex;
    transform: translate(220px, 0);
}

.intro__content {
    flex: 0 1 43%;
    padding-top: 70px;
}
.intro__title {
    display: flex;
    align-items: flex-end;
    gap: 20px;
}
.intro-title {
    font-family: 'Handjet';
    font-weight: 700;
    font-size: 100px;
    line-height: 0.9;
    margin-bottom: 65px;
}
.intro-title__year {
    font-size: 140px;
    line-height: 0.8;

    span {
        color: #2CF470;
    }
}
.intro__text {
    display: flex;
    flex-direction: column;
    font-family: 'Almarai';
    font-weight: 300;
    font-size: 20px;
    line-height: 1.5;

    a {
        color: #EC9E9A;

        &:hover {
            text-decoration: underline;
        }
    }
}
.text-1 {
    position: relative;
    max-width: 320px;
    margin-left: auto;
    margin-bottom: 15px;

    &::before {
        content: "";
        position: absolute;
        width: 20px;
        height: 40px;
        background-color: #EC9E9A;
        top: 0;
        left: -40px;
    }
}
.text-1__title {
    font-family: 'Almarai';
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-transform: uppercase;
}
.text-2 {
    margin: 45px 0 90px 23.5%;
    max-width: 170px;
}
.text-2__link {
    font-size: 17px;
    margin-top: 10px;
}

.content-intro__switches {
    display: flex;
    justify-content: end;
    height: 42px;
    margin-right: 50px;
    gap: 20px;

    svg {
        cursor: pointer;
        z-index: 3;

        &:hover {
            path {
                stroke: #A88A86;
            }
        }
    }

    &::before {
        content: "";
        position: absolute;
        left: 20px;
        width: 20px;
        height: 40px;
        background-color: #2CF470;
        transform: translateY(50%);
    }
}
.intro-switches__previous {
    align-self: flex-end;
}
.intro-switches__next {

}

.intro__border {
    height: 1px;
    width: 93%;
    margin: 0 auto;
    background-color: #E7C9C8;
}

.intro__image {
    flex: 0 1 57%;
}
.image-intro {}
.image-intro__photo {
    position: relative;
    max-width: 750px;

    &::after {
        content: "";
        position: absolute;
        width: 200px;
        height: 300px;
        bottom: 0;
        left: 0;
        border-radius: 0px 0px 0px 100px;
        transform: translate(-47%, 17%);
        background: url(../images/intro/decor.png);
    }

    img {
        border-radius: 0px 0px 375px 0px;
    }
}
.image__button {
    display: none;
}
@media (min-width: 1921px) {
    .main__button__container, .border__container {
        max-width: none;
        margin: 0 310px;
    }
}
@media (max-width: 1340px) {
    .left__borders {
        &::after {
            display: none;
        }
    }
    .main__button__container {
        display: none;
    }
    .intro__container {
        transform: translate(0, 0);
    }
    .intro__content {
        flex: 0 1 52.5%;
        padding-top: 50px;
    }
    .intro__title {
        justify-content: center;
        gap: 10px;
    }
    .intro-title {
        font-size: 80px;
        line-height: 0.9;
        margin-bottom: 15px;
    }
    .intro-title__year {
        font-size: 100px;
        line-height: 0.85;
    }
    .intro__text {
        font-size: 20px;
        line-height: 1.5;
    
        a {
            color: #EC9E9A;
    
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .text-1 {
        position: relative;
        max-width: 440px;
        margin-left: 40px;
        margin-bottom: 15px;
    
        &::before {
            content: "";
            position: absolute;
            width: 20px;
            height: 40px;
            background-color: #EC9E9A;
            top: 0;
            left: -40px;
        }
    }
    .text-2 {
        margin: 45px 0 70px 40%;
        max-width: 170px;
    }
    .content-intro__switches {
        margin-right: -20px;
    
        &::before {
            content: "";
            position: absolute;
            left: 60px;
            width: 20px;
            height: 40px;
            background-color: #2CF470;
            transform: translateY(-50%);
        }
    }
    .intro__border {
        width: 100%;
    }

    .intro__image {
        flex: 0 1 47.5%;
    }
    .image-intro__photo {
        margin-right: -40px;

        &::after {
            width: 100%;
            min-width: 140px;
            height: 210px;
            left: 35%;
            background: url(../images/intro/decor_2.png) no-repeat;
        }

        img {
            width: 100%;
            min-width: 520px;
            border-radius: 0px 0px 259.5px 0px;
        }
    }
    .image__button {
        display: block;
        position: absolute;
        bottom: 0;
        left: 35%;
        transform: translate(0, 45%);
        z-index: 2;
    }
}
@media (max-width: 1001px) {
    .image-intro__photo {

        &::after {
            height: 210px;
        }

        img {
            height: 550px;
        }
    } 
}